@import "compass";

$baseFontFamily: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$baseColor: #f3ede3;
$subColor: #d7af63;
$keyColor: #bd5c50;
$fontColor: #4c4c4c;

html { font-size: 62.5%; }

body {
    color: $fontColor;
    background-color: $baseColor;
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: $baseFontFamily;
}

.text-center {
    text-align: center;
}

a.btn-readmore {
    display: block;
    text-decoration: none;
    width: 50%;
    @include border-radius(4px);
    background-color: $subColor;
    color: #FFF;
}

@media (min-width: 769px) {
    a.btn-readmore:hover {
        background-color: darken($subColor, 10%);
    }
}

header .image-box {
    background-image: url("../images/a0001_014745_s-min.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 769px) {
    header .image-box {
        height: 500px;
    }
}

#title {
    display: block;
    margin: 0 auto;
    padding: 60px 0;
}

#title h1 {
    font-size: 4.2rem;
    color: $keyColor;
}

#about {
    width: 90%;
    margin: 0 auto;
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
}

#about .about-box {
    @include flex(1);
    margin: 10px 0;
    padding: 20px;
    @include border-radius(4px);
    @include clearfix;
    background-color: #FFF;
}

#about .about-box h3 {
    color: $keyColor;
    font-size: 2.8rem;
    padding-bottom: 10px;
}

#about .about-box .content {
    padding-bottom: 10px;
}

#about .about-box .btn-readmore {
    float: right;
}

#about .about-box .btn-readmore span {
    display: block;
    margin: 5px auto;
}

@media (min-width: 769px) {
    #about {
        @include flex-direction(row);
    }
    #about .about-box {
        margin: 0 10px;
    }
}

#contact {
    display: block;
    margin: 0 auto;
    padding: 60px 0;
}

#contact h2 {
    color: $keyColor;
    font-size: 3.2rem;
}

#contact .btn-readmore {
    margin: 10px auto;
}

#contact .btn-readmore span {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}